VERCEL=0
PERAZIM_1_WHATSAPP_GROUP=targeted-whatsapp-group
PERAZIM_2_WHATSAPP_GROUP=targeted-whatsapp-group
TCC_LEADERS_WHATSAPP_GROUP=targeted-whatsapp-group
TCC_OLOGUNERU_WHATSAPP_GROUP=targeted-whatsapp-group
PROFESSIONALS_WHATSAPP_GROUP=targeted-whatsapp-group
GEMINI_API_KEY=gemini-api-key
FIREBASE_PROJECT_ID=firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-client-email
FIREBASE_PRIVATE_KEY=firebase-private-key
OPENAI_API_KEY=openai-api-key